project:
  type: website
  output-dir: docs

website:
  title: "Website"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: caraudio.qmd
        text: Car Audio Build

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

